<fieldset class="block">
  <legend>Экспорт</legend>
  <div class="sr-switch">
    <span class="sr-switch__label sr-switch__label--active">44.1 kHz</span>
    <input type="range" class="sr-switch__range" name="output_sr_choice"
           min="0" max="1" step="1" value="0" aria-label="Частота дискретизации">
    <span class="sr-switch__label">48 kHz</span>
  </div>
  <input type="hidden" name="resample_441" value="on">
  <label class="field-inline export-format-row">Формат выхода
    <select name="output_format" class="select-input">
      <option value="wav">WAV</option>
      <option value="flac">FLAC</option>
      <option value="mp3">MP3</option>
      <option value="m4a">M4A</option>
    </select>
  </label>
</fieldset>
